parameters:
    paths:
        - .
    scanFiles:
        - IntelliSenseHelper.php
        - ../../oxid-esales/oxideshop-ce/source/oxfunctions.php
    level: 9
    phpVersion: 70300
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#setConfigParam\(\) expects string, array given.#'
        - '#Offset .* does not exist on array{function: .*}.#'
        - '#ShopControl_DebugBar::_handle.*Exception\(\) has no return type specified#'
        - '#ShopControl_DebugBar::start\(\) has no return type specified.#'
        - '#Config_DebugBar::getExceptionHandler\(\) should be compatible with return type #'
        - '#UtilsView::addErrorToDisplay\(\) expects OxidEsales\\Eshop\\Core\\Contract\\IDisplayError#'
        - '#PHPDoc tag @throws with type .*\\ContainerExceptionInterface is not subtype of Throwable#'
